
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.green-light-bg{
    background-color: #F0FFF0;
}
.container .fulltest{
    border: 10px;
}
.testicon .green-light-bg img{
    padding: 50px;
    width: 100%;
}
.examination{
    margin: 60px;
}
.icon img{
    width: 100px;
}

.container .click{
    background-color: green;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
}
.container .card .minilogo{
    height: 24px;
    width: 25px;
    position: relative;
}
.buy-course{
    margin: auto;
    height: 40px;
    width: 145px;
    color: white;
    background-color: #21B573;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
}
.headbot{
    background-color: #21B573;
    border-radius: 50px;
    height: 45px;
    width: 150px;
    color: white;
    border: none;
}
.container .carousel-item{
    margin-top: 10px;
}
.carousel-item{
    padding: 30px 60px;
}
.online{
    margin: 40px;
    color: #413960;
}
.container-preparation{
    padding: 100px 100px;
}
.bullet{
    font-size: 45px;
}
.schedule{
    color: #21B573;
}
.para{
    color: #FC5C28;
    font-weight: 800;
}

.card{
    padding: 20px 40px;
    border: 5px 10px 15px lightgray;
    border-radius: 15px;
}
.preparation{
    border: black;
}
.preparation img{
    width: 70px;
    height: 70px;
    background: #F8FFFB;
    border-radius: 10px;
}
.card-title{
    font-size: 23px;
}
.card-footer{
    background: none;
}
.container .text-center{
    margin-top: 80px;
    font-weight: bold;

}
.man-png{
    width: 170px;
    height: 170px;
}

.container .man-png img{
    padding: 20px 40px;
}
.bg-foot{
    background-color: #282531;
    color: white;
}
.footlast{
    padding: 30px 20px;
    margin-top: 30px;
}
.testexam .bsstest{
    margin-top: 30px;
}
.bsstest img{
    width: 100px;
    height: 100px;
}
.bsstest .h5{
    color: #413960;
}
.EnrollPsco{
    border: 5px 10px 20px rgb(189, 181, 181);
}
.container .pexel{
    margin: 80px;
    width: 150px;
    height: 150px;
    left: 300px;
}